@model WebMVC.Models.CompanyDetail


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CompanyNumber)
            </td>
           
        </tr>

    </tbody>
</table>
